[Unit]
Description=celery daemon
After=network.target

[Service]
Group=www-data
WorkingDirectory=/home/ubuntu/bhav_copy
ExecStart=/home/ubuntu/env/bin/celery -A bhavcopy worker -B -l info

[Install]
WantedBy=multi-user.target