<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BhavCopy</title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo center">BhavCopy</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>
    <div class="container">
      <!-- Page Content goes here -->

      <div class="row"  id="app">

          <div class="row">
            <div class="input-field col s12" >
              <input type="text" @click="headers"  autocomplete="off" v-model="userinput">
              <label for="icon_prefix2">SC_NAME</label>
              <table class="highlight">
                <thead>
                  <tr>
                    <th v-for= "h in header">
                      ${ h }
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="dat in data">
                    <td v-for="d in dat">
                        ${d}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red" @click="csv_download" >
        <i class="large material-icons" >file_download</i>
      </a>
    </div>
     </div>

</body>


<script>

  const app =  Vue.createApp({
    delimiters: ['${', '}'],
    data(){
      return{
        userinput : '',
        value: '',
        data:'',
        header:''
      }
    },
    watch: {
      userinput: function(val) {
        //console.log('jhgyt',val)
        this.value = val
        fetch(window.location.href+'get_sc/'+val)
        .then(response => response.json())
        .then(data => (this.data = data));

      }
    },
    methods:{
      headers(){
        fetch(window.location.href+'get_header/')
        .then(response => response.json())
        .then(data => (this.header = data));
      },
      csv_download(){

        let csvdown = "data:text/csv;charset=utf-8,"
        csvdown += this.header.toString()+'\n'
        for (i = 0; i < this.data.length; i++) {
          csvdown += this.data[i].toString()+'\n'
        }
        const data_link = encodeURI(csvdown)
        const link = document.createElement("a")
        link.setAttribute("href", data_link)
        if (this.value){
          link.setAttribute("download", this.value+".csv")
        }else{
          link.setAttribute("download", "all.csv")
        }
        link.click()
      }
    },
      beforeMount(){
        fetch(window.location.href+'get_header/')
        .then(response => response.json())
        .then(data => (this.header = data));
        fetch(window.location.href+'get_sc/')
        .then(response => response.json())
        .then(data => (this.data = data));
      }

  })

  app.mount('#app')

</script>
